#textdomain wesnoth-The_Dark_Hordes

# wmllint: local spelling Kaleon Nati Erzen

#define STORYTXT_A_NEW_CHANCE
    [story]
        [part]
            story= _ "At a great battle at the Stone of Erzen, the brothers Gwiti and Nati Ha'atel showed their skills for the first time: Thinking that their side was losing the battle, they called upon the corpses of former enemies to rise again and fight on their side."
            background=misc/blank.png
            [image]
                file=units/undead-necromancers/initiate-magic-3.png~RC(magenta>red)
                x,y=284,204
            [/image]
        [/part]

        [part]
            story= _ "However, not only was this forbidden, but rash as well. The cavalry meant to come as reinforcements instead clashed with the undead legions, and so the battle was lost where it would have been won had it not been for these two dark sorcerers."
            background=misc/blank.png
            [image]
                file=units/human-loyalists/cavalier-defend.png~RC(magenta>red)
                x,y=284,204
            [/image]
        [/part]

        [part]
            story= _ "The Ha'atel brothers fled. Immediately upon their return, they were clapped in irons, marched onto a ship with no rudder, and sent off to drown in the sea, for the Wesnothians feared that their corpses might only rise again."
            background=misc/blank.png
            [image]
                file=units/transport/pirate-galleon.png
                x,y=284,204
            [/image]
        [/part]

        [part]
            story= _ "But Fate intervened. The ship was beset by a sudden storm and disintegrated, separating the brothers and washing them both ashore. This was the beginning of the Rise of the Dark Hordes."
            background=misc/blank.png
            [image]
                file=misc/schedule-firstwatch.png
                x,y=284,204
            [/image]
        [/part]
        [part]
            {A_NEW_CHANCE}
        [/part]
    [/story]
#enddef

#define STORYTXT_BROTHER_AGAINST_BROTHER
    [story]
        [part]
            story= _ "Trying to find where he was, Gwiti ran into his brother."
            {BROTHER_AGAINST_BROTHER}
        [/part]
    [/story]
#enddef

#define STORYTXT_SKULL_OF_MORGORATH
    [story]
        [part]
            story= _ "Still wandering the unknown land, Gwiti entered lands of the Orcs."
            {SKULL_OF_MORGORATH}
        [/part]
        [part]
            story= _ "They all bore skull-topped banners. But one of these skulls was special..."
            background="misc/blank.png"
            [image]
                file="units/orcs/sovereign-attack1.png~RC(magenta>black)"
                x,y=284,204
            [/image]
        [/part]
    [/story]
#enddef

#define STORYTXT_MAGES_AND_ELVES
    [story]
        [part]
            story= _ "Furious at Skull's lack of power, Gwiti decided to seize a different artifact, the Book of Crelanu."
            {MAGES_AND_ELVES}
        [/part]
    [/story]
#enddef

#define STORYTXT_CRELANUS_BOOK
    [story]
        [part]
            story= _ "According to the journal Gwiti recovered, after the death of Delfador the Great, the tradition was started to entrust the Book with the King's closest advisor."
        [/part]
        [part]
            story= _ "This turned out to be a costly mistake, sparking the greatest undead invasion Wesnoth had ever seen."
        [/part]
        [part]
            story= _ "After this, no mage dared take guardianship of the Book.
Instead, they decided to hide Crelanu's work where none would find it, while spreading rumors that it was guarded in the Tower of Kaleon."
        [/part]
        [part]
            story= _ "Five centuries later, Gwiti retraced their steps, which led him to a war-torn valley."
            {CRELANUS_BOOK}
        [/part]
    [/story]
#enddef

#define STORYTXT_CONFRONTATION
    [story]
        [part]
            {CONFRONTATION}
        [/part]
    [/story]
#enddef

#define STORYTXT_UNDERGROUND_POOL
    [story]
        [part]
            story= _ "Gwiti and Tanar rushed into the maze of twisting little passages, quickly leaving the humans behind. But not much later, they ran into dwarves..."
            {UNDERGROUND_POOL}
        [/part]
    [/story]
#enddef

#define STORYTXT_UNDERGROUND_RIVER
    [story]
        [part]
            story= _ "Crossing the pool did not take long and soon the orcs and undead marched on through the damp cave, into the mountain.

While the orcs shivered in the magical air, Gwiti spent some time reading the Tome."
            {UNDERGROUND_RIVER}
        [/part]
    [/story]
#enddef
