#textdomain wesnoth-The_Dark_Hordes

# wmllint: local spelling Kaleon

[scenario]
    id="04_Mages_And_Elves"
    name= _ "Mages and Elves"
    map_data="{@campaigns/The_Dark_Hordes/maps/04_Mages_And_Elves.map}"
    next_scenario="05_Inside_The_Tower"
    {TURNS 41 38 36}

    {SCENARIO_MUSIC "loyalists.ogg"}
    {EXTRA_SCENARIO_MUSIC "battle.ogg"}
    {EXTRA_SCENARIO_MUSIC "legends_of_the_north.ogg"}

    {STORYTXT_MAGES_AND_ELVES}

    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {DAWN}
    {MORNING}
    {AFTERNOON}

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                condition=win
                description=_ "Move Gwiti to the Tower of Sorcery or..."
            [/objective]
            [objective]
                condition=win
                description=_ "Kill both enemy leaders"
            [/objective]
            [objective]
                condition=lose
                description=_ "Death of Gwiti Ha'atel"
            [/objective]
            [objective]
                condition=lose
                description=_ "Turns run out"
            [/objective]
        [/objectives]
    [/event]

    [side]
        id="Gwiti Ha'atel"
        name= _ "Gwiti Ha'atel"
        type=Initiate
        side=1
        canrecruit=yes
        controller=human
        unrenamable=yes
        recruit= "Dark Adept,Ghost,Walking Corpse,Vampire Bat,Skeleton,Skeleton Archer"
        {FLAG_VARIANT undead}
    [/side]

    [side]
        type=Great Mage
        id=Quirind
        name= _ "Quirind"
        side=2
        canrecruit=yes
#ifdef HARD
        recruit="Great Mage,Arch Mage,Red Mage,White Mage,Paladin,Shock Trooper"
#endif

#ifdef NORMAL
        recruit="Arch Mage,Red Mage,White Mage,Mage,Knight,Heavy Infantryman"
#endif

#ifdef EASY
        recruit="Red Mage,Mage,Horseman,Heavy Infantryman,Cavalryman"
#endif

        {GOLD 100 120 200}
        {INCOME 4 8 12}

        team_name=elves
        {FLAG_VARIANT loyalist}
    [/side]

    [side]
        type=Elvish Marshal
        id=Lessalin
        name= _ "Lessalin"
        side=3
        canrecruit=yes
#ifdef HARD
        recruit="Elvish Hero,Elvish Captain,Elvish Ranger,Elvish Marksman,Elvish Rider,Elvish Druid,Elvish Sorceress"
#endif

#ifdef NORMAL
        recruit="Elvish Fighter,Elvish Hero,Elvish Archer,Elvish Marksman,Elvish Scout,Elvish Druid"
#endif

#ifdef EASY
        recruit="Elvish Fighter,Elvish Archer,Elvish Scout,Elvish Shaman"
#endif

        {GOLD 60 70 130}
        {INCOME 1 4 10}

        team_name=elves
    [/side]

    {STARTING_VILLAGES 2 6}
    {STARTING_VILLAGES 3 15}

    [event]
        name=start

        [message]
            speaker=narrator
            message= _ "After sending the Dark Spirit away for his failure, Gwiti found some maps in the possession of the orc and realized that he was a short distance north of Wesnoth. Craving the power that was promised to him, he turned towards the Tower of Kaleon, where the greatest magi once studied."
            image=wesnoth-icon.png
        [/message]
        [message]
            id="Gwiti Ha'atel"
            message= _ "At last, I have reached the road. Unless I am far off my course, I should find the Tower of Kaleon here, filled with the secrets of ancient magi. Soon they shall all be mine, and my power will be great enough to invade Wesnoth."
        [/message]
        [message]
            id=Quirind
            message= _ "A dark sorcerer approaches! Can this be the same one that we banished?"
        [/message]
        [message]
            id=Quirind
            message= _ "Accursed and dreadful one, know that we magi, guardians of the Tower of Kaleon, shall bar your way with all our spells! Flee now and you may survive."
        [/message]
        [message]
            id=Lessalin
            message= _ "Quirind, know that you have the Elves at your back."
        [/message]
        [message]
            id=Lessalin
            message= _ "Foul sorcerer of death, go far from this place or we shall send you to your own realm."
        [/message]
        [message]
            id="Gwiti Ha'atel"
            message= _ "Not born is the one that could challenge me!"
        [/message]
    [/event]

    [item]
        x=15
        y=3
        image="terrain/scenery/trapdoor-closed.png"
    [/item]

    [event]
        name=last breath
        [filter]
            id="Gwiti Ha'atel"
        [/filter]
        [message]
            speaker=unit
            message= _ "No! No! Noooo! It is over, I feel the shades reaching for me..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Quirind
        [/filter]
        [message]
            speaker=unit
            message= _ "Argh! I have fallen, and the Tower lies stripped of its defenses!"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Lessalin
        [/filter]
        [if]
            [have_unit]
                id=Quirind
            [/have_unit]
            [then]
                [message]
                    speaker=unit
                    message= _ "Quirind, we have failed! You must guard the tower."
                [/message]
            [/then]
        [/if]
    [/event]

    [event]
        name=time over
        [message]
            id=Quirind
            message= _ "Ah ha ha ha! The tower's protective spells are now in force, you cannot enter without mastering a magic equal to it."
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            x=15
            y=3
            id="Gwiti Ha'atel"
        [/filter]
        [message]
            speaker=unit
            message= _ "Haha! I have gained entry to the tower!"
        [/message]
        [message]
            id=Lessalin
            message= _ "A curse upon that foul dark sorcerer!"
        [/message]
        [endlevel]
            result=victory
            bonus=yes
        [/endlevel]
    [/event]
[/scenario]
