#textdomain wesnoth-The_Dark_Hordes

# wmllint: local spelling Susanne

[scenario]
    id="05_Inside_The_Tower"
    name= _ "Inside the Tower"
    map_data="{@campaigns/The_Dark_Hordes/maps/05_Inside_The_Tower.map}"
    next_scenario="06_Crelanus_Book"
    victory_when_enemies_defeated=no
    turns=70

    {SCENARIO_MUSIC "underground.ogg"}
    {EXTRA_SCENARIO_MUSIC "the_deep_path.ogg"}

    {UNDERGROUND}

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                condition=win
                description=_ "Find Crelanu's Book"
            [/objective]
            [objective]
                condition=lose
                description=_ "Death of Gwiti Ha'atel"
            [/objective]
        [/objectives]
    [/event]

    [side]
        id="Gwiti Ha'atel"
        name= _ "Gwiti Ha'atel"
        type=Initiate
        side=1
        shroud=yes
        canrecruit=yes
        controller=human
        unrenamable=yes
        recruit=Dark Adept,Ghost,Walking Corpse,Vampire Bat,Skeleton,Skeleton Archer
        {FLAG_VARIANT undead}
    [/side]

    [side]
        no_leader=yes
        side=2
        [ai]
            aggression=0.8
            caution=-0.5
            grouping=no
        [/ai]
        {FLAG_VARIANT loyalist}

        {GENERIC_GUARD_UNIT 2 (Mage) 30 22}
        {GENERIC_GUARD_UNIT 2 (Mage) 31 22}
        {GENERIC_GUARD_UNIT 2 (Mage) 30 23}
        {GENERIC_GUARD_UNIT 2 (Red Mage) 31 23}

        [unit]
            type=Elder Mage
            x=9
            y=6
            id=Krimitros
            name= _ "Krimitros"
            profile="portraits/Kitty/human-mage-arch.png"
            random_traits=no
        [/unit]
        # Should these be guards too?
        {GENERIC_UNIT 2 (Red Mage) 16 46}
        {GENERIC_UNIT 2 (Red Mage) 16 9}
        {GENERIC_UNIT 2 (Spearman) 21 28}
        {GENERIC_UNIT 2 (Swordsman) 27 45}
        {GENERIC_UNIT 2 (Spearman) 12 39}
        {GENERIC_UNIT 2 (Spearman) 18 30}
        {GENERIC_UNIT 2 (Swordsman) 13 29}
        {GENERIC_UNIT 2 (Spearman) 23 15}
        {GENERIC_UNIT 2 (Mage) 30 6}
#ifdef HARD
        {GENERIC_UNIT 2 (Red Mage) 16 10}
#endif
    [/side]

    [event]
        name=start
        [message]
            id="Gwiti Ha'atel"
            message= _ "If my memory serves, this tower should have three floors. I should be able to find the Book in a few hours...!"
        [/message]
    [/event]

    [event]
        name=turn 2
        [unit]
            type=Revenant
            id=Xakan
            name= _ "Xakan"
            unrenamable=yes
            x=17
            y=51
            side=1
        [/unit]
        [unit]
            type=Revenant
            id=Karae
            name= _ "Karae"
            unrenamable=yes
            x=16
            y=51
            side=1
        [/unit]
        [unit]
            type=Revenant
            id=Pezit
            name= _ "Pezit"
            unrenamable=yes
            x=17
            y=52
            side=1
        [/unit]
        [unit]
            type=Revenant
            id=Lagon
            name= _ "Lagon"
            unrenamable=yes
            x=14
            y=50
            side=1
        [/unit]
#ifdef EASY
        [unit]
            type=Skeleton
            x=20
            y=53
            side=1
        [/unit]
        [unit]
            type=Skeleton
            x=20
            y=52
            side=1
        [/unit]
#endif
        [message]
            id=Karae
            message= _ "Hayaargghh! We have arrived! Command us, Master!"
        [/message]
    [/event]

    #the book
    {ITM_BOOK1 3 4}

    #notify the player he's getting closer
    [event]
        name=moveto
        [filter]
            x=21,23,11-34
            y=35,35,30-34
            side=1
        [/filter]
        [message]
            speaker=unit
            message= _ "Here's he second floor! The mages can't hide from us for long!"
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            x=16-27
            y=10-18
            side=1
        [/filter]
        [message]
            id="Gwiti Ha'atel"
            message= _ "The third floor! Closer! Find the Book!"
        [/message]
    [/event]

    #a secret passage
    [event]
        name=moveto
        [filter]
            x=11
            y=6
            side=1
        [/filter]
        [message]
            speaker=unit
            message= _ "There's a secret door here! This must be the library."
        [/message]
        [terrain]
            x=10
            y=6
            terrain=Ds
        [/terrain]
        [message]
            id=Krimitros
            message= _ "I will not allow the likes of you to lay eye upon the Book!"
        [/message]
    [/event]

    {TREASURE_CHEST 30 48 (_ "Well, well, well. Thirty-five pieces of gold were in this chest!") 35}
    {TREASURE_CHEST 30 43 (_ "Blast it, the chest is empty!") 0}
    {TREASURE_CHEST 7  43 (_ "Twenty pieces of gold is a welcome gift.") 20}
    {TREASURE_CHEST 26 50 (_ "I suppose thirty copper coins should not be scorned...") 30}
    {TREASURE_CHEST 9  49 (_ "The chest is empty save for a few trinkets. The magic has gone out of them.") 10}
    {TREASURE_CHEST 10 39 (_ "Gack! This chest contains holy water!") 0}
    {TREASURE_CHEST 29 22 (_ "Look at what the magi were guarding!") 60}
    {TREASURE_CHEST 29 32 (_ "Those magi had hidden away more than it seemed!") 114}
    {TREASURE_CHEST 18 28 (_ "Two dozen gold. Plundering this tower is fun!") 24}
    {TREASURE_CHEST 13 28 (_ "A pile of assorted coins is here!") 23}
    {TREASURE_CHEST 17 25 (_ "Haha, this chest holds scores of gold coins!") 55}

    {ICEPOTION 32 22 object21_icepot}
    {ICEPOTION 22 28 object22_icepot}
    {ICEPOTION 16 46 object23_icepot}

    [event]
        name=last breath
        [filter]
            id="Gwiti Ha'atel"
        [/filter]
        [message]
            speaker=unit
            message= _ "Nooo! Not this close to the book!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Krimitros
        [/filter]
        [message]
            speaker=unit
            message= _ "No! The Book must never fall into the hands of a necromancer!"
        [/message]
    [/event]
    [event]
        name=moveto
        [filter]
            id="Gwiti Ha'atel"
            x=3
            y=4
        [/filter]
        [message]
            speaker=unit
            message= _ "This is not the tome Crelanu wrote...hmmm... but it contains its whereabouts!"
        [/message]
        [message]
            id=Xakan
            message= _ "We're done in here! Let's go slay some more enemies."
        [/message]

        #Easter Egg: If all the revenants survived, Princess Susanne does a cameo appearance.
        ### Disabled until someone fix it
        [if]
            [have_unit]
                id=Xakan
            [/have_unit]
            [and]
                [have_unit]
                    id=Karae
                [/have_unit]
            [/and]
            [and]
                [have_unit]
                    id=Pezit
                [/have_unit]
            [/and]
            [and]
                [have_unit]
                    id=Lagon
                [/have_unit]
            [/and]
            [then]
                [message]
                    caption= _ "Susanne"
                    speaker=narrator
                    image=units/human-loyalists/princess.png
                    message= _ "Congratulations! All your revenants survived."
                [/message]
            [/then]
        [/if]

        [endlevel]
            result=victory
        [/endlevel]
    [/event]
[/scenario]
