#textdomain wesnoth-The_Dark_Hordes

[about]
    title= _ "Creator and Original Designer"
    [entry]
        name="Circon"
    [/entry]
[/about]
[about]
    title= _ "Campaign Maintenance and Completion"
    [entry]
        name="Alexander van Gessel (AI/AI0867)"
    [/entry]
    [entry]
        name="Dimitar Ilccov (Mythological)"
    [/entry]
    [entry]
        name="Ignacio R. Morelle (Shadow Master/ShikadiLord)"
    [/entry]
    [entry]
        name="Stefan von Halenbach (vonHalenbach)"
    [/entry]
[/about]
[about]
    title= _ "Artwork"
    [entry]
        name="Orcish Shyde"
        comment="New necromancer line recolours."
    [/entry]
[/about]
